<!DOCTYPE html>
{% set pagetitle = "FAQs" %}
{% include "head.html" %}

<body>
    {% include "navigation.html" %}
    <div class="faq_area section_padding_130" id="faq">
        <div class="container">
            <div class="row justify-content-center m-3">
                <div class="col-12 col-sm-8 col-lg-6">
                    <!-- Section Heading-->
                    <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <h3>Frequently Asked Questions</h3>

                        <div class="line"></div>
                    </div>
                </div>
            </div>


            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                            How to create a new channel?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            If you want to start a new group (a new "channel"), simply click on "Create Channel" and
                            give your channel a name. To
                            invite people to your channel, go to the channel settings page (by clicking the cog-shaped
                            icon) and either give
                            your friends the channel code (which they will enter in by clicking Join Channel), or give
                            them the sharing link by
                            clicking the clipboard next to Share Channel.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            How do I join a channel?
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            You can join a channel by obtaining the channel code, clicking "Join Channel", and entering
                            the code there.
                            Users who are already in a certain channel can find that channel's code by clicking the
                            cog-shaped settings
                            button in the upper right corner of any channel page. Alternatively, you can join a channel
                            by obtaining a
                            sharing link, which is also found in the channel settings page.

                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            How do I write a verbatim?
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            To quote someone (to "verbatim" someone) in a certain group, simply click on a channel, type
                            in what they said in the textbox
                            at the bottom of the screen, click on the speaker button to select their name, and then
                            click the submit button.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            How to guess a verbatim?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            To guess who said what, click on the guess button next to any verbatim in a channel. This
                            will bring up a dropdown, which you can
                            click to see the available options. Select who you think said the verbatim. This will update
                            the %correct on the right side
                            of the page, which indicates the number of people who guessed correctly divided by the total
                            number of guesses submitted for that verbatim. <br> (Note: if you posted the verbatim, you
                            will not
                            be able to guess.)
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            What is the leaderboard?
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            The leaderboard displays the top 3 best guessers based on the number of correct guesses they
                            have in a certain channel.
                            It is quite the achievement to be in the top 3!
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            How do I change my user settings or pfp?
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Click on your profile picture icon in the upper right corner to access the user settings
                            page. Once you make your changes,
                            press the update button. You can return to the home page by clicking the Verbatims icon in
                            the navbar.
                        </div>
                    </div>
                </div>

                <br>
                <div class="row justify-content-center m-3">
                    <div class="col-12 col-sm-8 col-lg-6">
                        <!-- Section Heading-->
                        <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s"
                            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <h3>About Us</h3>
                            <p>Verbatims is a platform where friends can post and share out-of-context quotes (aka
                                "Verbatims").
                                It was developed by Joseph Xu '24, Joanna Tang '24, and Bryan Wang '24 for a COS 333
                                Project.
                                You can contact us <a href="mailto:princetonverbatims@gmail.com"">here</a> for any questions!
                            </p>
                            <div class=" line">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</body>

</html>